{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="bg-secondary">

    
  <div class="container-fluid mt-5 ">
    <h2 class="text-center "><span class="pb-2 border border-2 border-light border-end-0 border-start-0 border-top-0">Welcome {{stu_data.fullname}}</span></h2>
<div class="row d-flex justify-content-center align-items-center mt-5">
  <!-- Daily Attendence  -->
  <div class="col-10 d-flex justify-content-center align-items-center flex-column ">
    <table class="bg-warning shadow rounded-2 text-center">
      <h4>Your Today's Attendence </h4>
      <thead >
        <tr>
          <th class="p-3">Subject</th>
          <th class="p-3">Attendence</th>
        </tr>
      </thead>
      <tbody>
        {%for attend in stu_attend %}
        <tr>
          <td>{{attend.subject}}</td>
          <td>{{attend.attend}}</td>
        </tr>
          {%endfor %}
      </tbody>
    </table>
  </div>

<!-- Internal Assessment -->
  <div class="col-10 d-flex justify-content-center align-items-center flex-column mt-4">
    <table class="bg-info shadow rounded-2 text-center">
      <h4>Your Internal Assessment</h4>
      <thead >
        <tr>
          <th class="p-3">Name</th>
          <th class="p-3">Roll No</th>
          <th class="p-3">Mst-1</th>
          <th class="p-3">MSt-2</th>
          <th class="p-3">Asgmt-1</th>
          <th class="p-3">Asgmt-2</th>
          <th class="p-3">Asgmt-3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-3 pb-3">{{stu_data.fullname}}</td>
          <td class="px-3 pb-3">{{stu_data.roll_no}}</td>
          <td class="px-3 pb-3">{{stu_data.mst_1_marks}}</td>
          <td class="px-3 pb-3">{{stu_data.mst_2_marks}}</td>
          <td class="px-3 pb-3">{{stu_data.assignment_1_marks}}</td>
          <td class="px-3 pb-3">{{stu_data.assignment_1_marks}}</td>
          <td class="px-3 pb-3">{{stu_data.assignment_1_marks}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
 
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>